@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --dark: 27, 38, 44;
    --dark-blue: 15, 76, 117;
    --dark-dark-blue: rgb(15,20,39);
    --blue: 50, 130, 184;
    --blue-2: 36, 93, 132;
    --br-blue: 187, 225, 250;

    background-color: var(--dark-dark-blue);
}

html {
    --s: 80px; /* control size of one square */


    --_g: #0000 90deg, #183033 0;
    background:

            conic-gradient(from 90deg at 2px 2px,var(--_g))
            0 0/var(--s) var(--s),
            conic-gradient(from 90deg at 1px 1px,var(--_g))
            0 0/calc(var(--s)/5) calc(var(--s)/5);

}

@media (max-width: 600px) {
    html {
        --s: 60px;
    }
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
}
body {
    background-color: rgb(var(--dark),0.3);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: whitesmoke;
}
canvas {
    position:absolute;
    left:0;
    top:0;
    z-index: -100;
    display: inline;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;

}
.navbar {
    box-shadow: 0 0 0 1px #5bffec inset;
    z-index: 100;
    padding: 15px;
    height: 40px;
    opacity: 0;
    display: flex;
    overflow: hidden;
    user-select: none;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    border-radius: 8px;
    list-style-type: none;
    background-color: rgb(var(--dark-blue),0.4);
}
.navbar .nav-btns span{
    z-index: 101;
    display: inline-block;
}

.navbar .nav-btns .nav-btn {
    cursor: pointer;
    z-index: 101;
    width: auto;
    transition: 0.2s ease-out;
    padding: 8px 18px 8px;
    text-align: center;
    font-size: 23px;
    background-color: rgb(var(--blue-2), 0.5);
    border-radius: 6px;
    margin: 5px;
}

.navbar .nav-btns {
    margin-right: auto;
    margin-left: auto;
}
.content {
    opacity: 0;
    user-select: none;
    padding-left: 15px;
    padding-right: 15px;
}

.content .content-card {
    box-shadow: 0 0 0 1px #5bffec inset;
    text-align: center;
    background-color: rgb(var(--dark-blue),0.5);
    border-radius: 8px;
    width: 80vw;
    margin-top: 12px;
    padding: 24px 22px 24px 22px;
    margin-right: auto;
    margin-left: auto;
}

.content .offer-card {
    box-shadow: 0 0 0 1px #5bffec inset;
    text-align: center;
    background-color: rgb(var(--dark-blue),0.5);
    border-radius: 8px;
    width: 80vw;
    margin-top: 12px;
    padding: 24px 22px 24px 22px;
    margin-right: auto;
    margin-left: auto;
}

.content h1 {
    font-size: 60px;
    letter-spacing: 1px;
    font-weight: 600;
}
.content  h2 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}


.navbar .nav-btns .nav-btn:hover {
    background-color: rgb(var(--blue),0.9);
}

.navbar .nav-btns .nav-btn:active{
    background-color: #75b8e5;
}

.content .title {
    color: #75ffe2;
    text-shadow: 5px 5px 30px #000000;
}

.content .offer-card .programming-lang {
    display: none;
    overflow-y: scroll;
    box-shadow: 0 0 3px 1px #92b8ff inset;
    background-color: #0f173f;
    width: 50vw;
    height: 26vh;
    border-radius: 12px;
    padding: 8px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 9px;
}


::-webkit-scrollbar-track {
    background: #000a2c;
}


::-webkit-scrollbar-thumb {
    background: #639a9f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7797c0;
}


.content .offer-card .programming-lang::-webkit-scrollbar {
    width: 9px;
}

/* Track */
.content .offer-card .programming-lang::-webkit-scrollbar-track {
    background: #000a2c;
}

    /* Handle */
.content .offer-card .programming-lang::-webkit-scrollbar-thumb {
    background: #63679f;
    border-radius: 4px;
}

/* Handle on hover */
.content .offer-card .programming-lang::-webkit-scrollbar-thumb:hover {
    background: #777cc0;
}

#bg-video {
    filter: blur(2px) brightness(0.7) saturate(200%);
    z-index: -2000;
    display: inline-block;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    pointer-events: none;
}

.content .offer-card .programming-lang a {
    transition: 0.2s ease-out;
    letter-spacing: 1px;
    padding: 0.5vw;
    -webkit-user-drag: none;
    font-size: 2vh;
    font-weight: 500;
    display: inline-block;
    list-style: none;
    color: whitesmoke;
    text-decoration: none;
    text-align: left;
    margin: 4px 1px;
    position: relative;
    background-color: rgb(83, 83, 180);
    width: auto;
    border-radius: 10px;
}

.content .offer-card .programming-lang a:hover {
    background-color: rgb(99, 176, 189);
    cursor: pointer;
}

.content .description{
    color: #d5fff4;
    text-shadow: 5px 5px 30px #000000;
}
.content #br-green {
    color: #80eea3;
}

.content  #purple {
    color: #d0baff;
}

@media (max-width: 600px){
    #bg-video {
        display: none;
    }
    .navbar .nav-btns .nav-btn {
        font-size: 16px;
        padding: 3px 8px 3px 8px;
        margin: 3px;
    }
    #bg-video {
        filter: blur(4px);
    }
    .content .offer-card {
        width: 75vw;
    }

    .content .offer-card .title {
        font-size: 30px;
    }

    .content .content-card h1 , .content .offer-card .title h1 {
        font-size: 30px;
    }
    .content .content-card h2, .content .offer-card .description h2 {
        font-size: 15px;
    }

    .content .content-card {
        width: 75vw;
    }

    .content .offer-card .programming-lang {
        display: none;
    }

    .spinner-box {
        width: 300px;
    }


}

@media (max-width: 280px) {
    .navbar .nav-btns .nav-btn {
        font-size: 11px;
        padding: 3px 6px 3px 6px;
        margin: 3px;
    }
}

.loader-wrapper {
    padding:0;
    top:0;
    left:0;
    background: #050e15;
    position: fixed !important;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out; !important
}
.spinner-box {
    margin-top: 120px;
    margin-right: auto;
    margin-left: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.leo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.blue-orbit {
    width: 165px;
    height: 165px;
    border: 1px solid #91daffa5;
    -webkit-animation: spin3D 3s linear .2s infinite;
    -moz-animation: spin3D 3s linear .2s infinite;
    -o-animation: spin3D 3s linear .2s infinite;
}

.green-orbit {
    width: 120px;
    height: 120px;
    border: 1px solid #91ffbfa5;
    -webkit-animation: spin3D 2s linear 0s infinite;
    -moz-animation: spin3D 2s linear 0s infinite;
    -o-animation: spin3D 2s linear 0s infinite;
}

.red-orbit {
    width: 90px;
    height: 90px;
    border: 1px solid rgba(255, 184, 145, 0.65);
    -webkit-animation: spin3D 1s linear 0s infinite;
    -moz-animation: spin3D 1s linear 0s infinite;
    -o-animation: spin3D 1s linear 0s infinite;
}

.white-orbit {
    width: 60px;
    height: 60px;
    border: 2px solid #ffffff;
    -webkit-animation: spin3D 10s linear 0s infinite;
    -moz-animation: spin3D 10s linear 0s infinite;
    -o-animation: spin3D 10s linear 0s infinite;
}

.w1 {
    transform: rotate3D(1, 1, 1, 90deg);
}

.w2 {
    transform: rotate3D(1, 2, .5, 90deg);
}

.w3 {
    transform: rotate3D(.5, 1, 2, 90deg);
}


@keyframes spin3D {
    from {
        transform: rotate3d(.5,.5,.5, 360deg);
    }
    to{
        transform: rotate3d(0,0,0,0deg);
    }
}


